main{
    .ms_font-size {
        font-size: 0.8rem;
    }

    .ms_red {
        color: red;
    }

    .ms_bg-red {
        background-color: red;
    }

    .ms_bg-green {
        background-color: green;
    }

    .ms_heart-position {
        top: 5%;
        right: 1rem;
    }

    .ms_badges-position {
        bottom: 120px;
        left: 1rem;
    }
}
